@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: white;
  font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  background-color: black;
}
h1{
  font-size: 150%;
  text-align: center;
  margin: 2rem 1rem;
  margin-bottom: 0;
}
.timeline-wrapper {
  margin: 0 auto;
  width: 28rem;
}
.memo-form  {
  width: 90%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 2% 5%;
  border: 1px solid #fff;
}
.title-control, .body-control, button {
  margin: 0.5rem 0rem;
}
textarea {
  resize: none;
}
.card-title {
  color: white;
}
.card-area{
  width: 145%;
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-top: 1rem;
  margin-right:1rem;
}